<div class="bg-light p-5 rounded mt-3">
    <h1>Cadastrar Alunos</h1>
    {{>_msg}}
    <form action="/cadstudents" method="post">
        <div class="row mt-5">
            <div class="col-md-5 mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" required>
            </div>


            <div class="col-md-5 mb-3">
                <label for="email" class="form-label">Endereço de e-mail</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email"
                    required>
            </div>


            <div class="col-md-5">
                <button class="mt-3 p-3 w-100 btn btn-success">Cadastrar</button>
            </div>
        </div>
    </form>
    <br>

</div>