<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Horário/Dia</th>
      <th scope="col">Segunda-Feira</th>
      <th scope="col">Terça-Feira</th>
      <th scope="col">Quarta-Feira</th>
      <th scope="col">Quinta-Feira</th>
      <th scope="col">Sexta-Feira</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <th scope="row">8h00</th>

    </tr>

    <tr>
      <th scope="row">8h50</th>

    </tr>

    <tr>
      <th scope="row">9h40</th>

    </tr>

    <tr>
      <th class="table-danger" scope="row">10h30</th>

    </tr>

    <tr>
      <th scope="row">10h50</th>

    </tr>

    <tr>
      <th scope="row">11h40</th>

    </tr>

    <tr>
      <th class="table-danger" scope="row">12h10</th>

    </tr>

  </tbody>
</table>