<div class="bg-light p-5 rounded mt-3">
    <h1>Cadastrar Usuários do Sistema</h1>
    {{>_msg}}
    <form action="/cad" method="post">
        <div class="row mt-5">
            <div class="col-md-5 mb-3">
                <label for="nome" class="form-label">Nome Completo</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" required>
            </div>

            <div class="col-md-5 mb-3">
                <label for="email" class="form-label">Endereço de e-mail</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email"
                    required>
            </div>

            <div class="col-md-5 mb-3" style="margin-top:2.3%;" >
            <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect02" name="funcao">
            <option value="0" disabled>Selecionar função</option>
            <option value="Administrador">Administrador/a</option>
            <option value="Coordenador">Coordenador/a</option>
            <option value="Tutor">Tutor/a</option>
            <option value="Professor">Professor/a</option>
            </select>
            <div class="input-group-append">
            <label class="input-group-text" for="inputGroupSelect02">Selecione a função de tal usuário no sistema</label>
            </div>
            </div>
            </div>

            <div class="col-md-5">
                <button class="mt-4 p-2 w-100 btn btn-success">Cadastrar</button>
            </div>
        </div>
    </form>
    <br>

</div>