<div class="p-2 rounded mt-5">
    <h1>Listar Turmas</h1>
    <!-- A condicional 'if' verifica se a variável 'table' é verdadeira (ou seja, se há dados para exibir) -->
    {{#if table}}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Ano</th>
                <th scope="col">Tutor</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <!-- O 'each' itera sobre cada 'usuario' em 'usuarios', repetindo o bloco de código para cada um -->
            {{#each alunos}}
            <tr>
                <!-- Exibe o ID, nome e e-mail do usuário usando '{{nomeDoCampo}}' para inserir os valores -->
                <td>{{ano}}</td>
                <td>{{tutor}}</td>
                <td>
                    <div class="row g-3">
                        <div class="col-6 col-md-5">
                            <!-- Botão que lista todos os alunos de determinada sala -->
                            <button class="w-100 btn btn-primary">Verificar todos os componentes da turma</button>
                        </div>
                    </div>
                </td>
            </tr>
            <!-- Modal de confirmação de exclusão -->

            {{/each}}
        </tbody>
    </table>
    {{else}}
    <div class="card mt-4">
        <div class="card-body">
            Nenhum dado encontrado!
        </div>
    </div>
    {{/if}}
</div>