<div class="container">
  <div class="row">
    <!-- Primeira Turma -->
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Horário Primeiro Ano</h5>
          <h6 class="card-subtitle mb-2 text-success">HORÁRIO NORMAL</h6>
          <p class="card-text">A turma do primeiro ano não tem choque de horário nesse momento.</p>
          <a href="#" class="card-link">Horário</a>
          <a href="#" class="card-link">Mudar horário geral</a>
        </div>
      </div>
    </div>

    <!-- Segunda Turma -->
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Horário Segundo Ano</h5>
          <h6 class="card-subtitle mb-2 text-danger">CHOQUE DE HORÁRIO</h6>
          <p class="card-text">A turma do segundo ano está em choque com o quinto ano.</p>
          <a href="#" class="card-link">Horário</a>
          <a href="#" class="card-link">Mudar horário geral</a>
        </div>
      </div>
    </div>

    <!-- Terceira Turma -->
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Horário Terceiro Ano</h5>
          <h6 class="card-subtitle mb-2 text-success">HORÁRIO NORMAL</h6>
          <p class="card-text">A turma do terceiro ano não tem choque de horário nesse momento.</p>
          <a href="#" class="card-link">Horário</a>
          <a href="#" class="card-link">Mudar horário geral</a>
        </div>
      </div>
    </div>

    <!-- Quarta Turma -->
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Horário Quarto Ano</h5>
          <h6 class="card-subtitle mb-2 text-success">HORÁRIO NORMAL</h6>
          <p class="card-text">A turma do quarto ano não tem choque de horário nesse momento.</p>
          <a href="#" class="card-link">Horário</a>
          <a href="#" class="card-link">Mudar horário geral</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Segunda Linha -->
  <div class="row">
    <!-- Quinta Turma -->
    <div class="col-md-3 mt-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Horário Quinto Ano</h5>
          <h6 class="card-subtitle mb-2 text-danger">CHOQUE DE HORÁRIO</h6>
          <p class="card-text">A turma do quinto ano está em choque com o segundo ano.</p>
          <a href="#" class="card-link">Horário</a>
          <a href="#" class="card-link">Mudar horário geral</a>
        </div>
      </div>
    </div>


    <div class="col-md-3 mt-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Horário Sexto Ano</h5>
          <h6 class="card-subtitle mb-2 text-success">HORÁRIO NORMAL</h6>
          <p class="card-text">A turma do quarto ano não tem choque de horário nesse momento.</p>
          <a href="#" class="card-link">Horário</a>
          <a href="#" class="card-link">Mudar horário geral</a>
        </div>
      </div>
    </div>


    <div class="col-md-3 mt-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Horário Sétimo Ano</h5>
          <h6 class="card-subtitle mb-2 text-success">HORÁRIO NORMAL</h6>
          <p class="card-text">A turma do sétimo ano não tem choque de horário nesse momento.</p>
          <a href="#" class="card-link">Horário</a>
          <a href="#" class="card-link">Mudar horário geral</a>
        </div>
      </div>
    </div>


    <div class="col-md-3 mt-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Horário Oitavo Ano</h5>
          <h6 class="card-subtitle mb-2 text-success">HORÁRIO NORMAL</h6>
          <p class="card-text">A turma do oitavo ano não tem choque de horário nesse momento.</p>
          <a href="#" class="card-link">Horário</a>
          <a href="#" class="card-link">Mudar horário geral</a>
        </div>
      </div>
    </div>


    <div class="col-md-3 mt-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Horário Nono Ano</h5>
          <h6 class="card-subtitle mb-2 text-success">HORÁRIO NORMAL</h6>
          <p class="card-text">A turma do nono ano não tem choque de horário nesse momento.</p>
          <a href="#" class="card-link">Horário</a>
          <a href="#" class="card-link">Mudar horário geral</a>
        </div>
      </div>
    </div>


    <div class="col-md-3 mt-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Horário 1º Ano EM</h5>
          <h6 class="card-subtitle mb-2 text-danger">CHOQUE DE HORÁRIO</h6>
          <p class="card-text">A turma do 1º ano EM está em choque com o 3º ano EM.</p>
          <a href="#" class="card-link">Horário</a>
          <a href="#" class="card-link">Mudar horário geral</a>
        </div>
      </div>
    </div>


    <div class="col-md-3 mt-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Horário 2º Ano EM</h5>
          <h6 class="card-subtitle mb-2 text-success">HORÁRIO NORMAL</h6>
          <p class="card-text">A turma do 2º ano EM não tem choque de horário nesse momento.</p>
          <a href="#" class="card-link">Horário</a>
          <a href="#" class="card-link">Mudar horário geral</a>
        </div>
      </div>
    </div>
    

    <div class="col-md-3 mt-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Horário 3º Ano EM</h5>
          <h6 class="card-subtitle mb-2 text-danger">CHOQUE DE HORÁRIO</h6>
          <p class="card-text">A turma do 3º ano EM está em choque com o 1º ano EM.</p>
          <a href="#" class="card-link">Horário</a>
          <a href="#" class="card-link">Mudar horário geral</a>
        </div>
      </div>
    </div>

  </div>
</div>
